:root {
    --color-1: #e6194B; 
    --color-2: #3cb44b; 
    --color-3: #ffe119; 
    --color-4: #4363d8; 
    --color-5: #f58231; 
    --color-6: #911eb4; 
    --color-7: #42d4f4; 
    --color-8: #f032e6; 
    --color-9: #bfef45; 
    --color-10: #800000; 
    --color-11: #000075;
}

main {
    z-index: 30;
}

.modal {
    background-color: #00000077;
    display: inline-block;
    z-index: 100;
    padding: 45px;
}

.table-column-1 {
    width: 40%;
}

#game-wrap {
    width: 100%;
    z-index: 40;
    position: relative;
    min-height: 40vw;
}

.panel-close {
    font-size: xx-large;
    line-height: 100%;
    background: transparent;
    border: 0;
    padding-top: 0px;
}

.panel-warning {
    max-width: fit-content;
    max-width: -moz-fit-content;
    max-width: -webkit-fit-content;
}

ul#saves {
    overflow-y: scroll;
}

ul.well {
    padding-left: 29px;
}

.lead {
    margin-bottom: 0;
}

.panel-body {
    z-index: 50;
    position: relative;
}

#game-btns {
    min-width: fit-content;
    min-width: -moz-fit-content;
    width: 50%;
    max-width: fill-available;
    max-width: -webkit-fill-available;
    max-width: -moz-fill-available;
}

#save-panel {
    position: absolute;
    width: fit-content;
    height: fit-content;
    width: -moz-fit-content;
    height: -moz-fit-content;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background: transparent;
    z-index: 30;
    top: -1px;
    right: 10px;
}

.sl-btn {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin: 0 5px
}

.sl-btn:hover {
    filter: drop-shadow(0px 0px 2px #555);
}

.field {
    display: grid;
}

.field::before {
    content: unset;
}

.cell {
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #ddd;
    text-align: center;
    background-color: #303a42;
    box-shadow: inset 0 0 20px 4px #425e5f54;
    color: whitesmoke;
    font-weight: 600;
    font-size: x-large;
}

.cell-right {
    border-right-width: 1px;
}
.cell-bottom {
    border-bottom-width: 1px;
}

.cell-tl {
    border-radius: 3px 0 0 0;
}

.cell-tr {
    border-radius: 0 3px 0 0;
}

.cell-br {
    border-radius: 0 0 3px 0;
}

.cell-bl {
    border-radius: 0 0 0 3px;
}

.input-svg {
    box-sizing: border-box;
    position: absolute;
    top:15px;
    border-color: #bfffb678;
    border-width: 1px;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.dot {
    stroke-width: 0;
    fill-opacity: 0;
    transition-property: stroke-width;
    transition-duration: 200ms;
    z-index: 30;
}

.dot-hover {
    stroke-width: 3px;
}

.line {
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 0.5;
}

.tracker {
    stroke-width: 0;
    fill: transparent;
    z-index: 50;
}

.full-page-cover {
    background-color: #00000077;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#winpanel-wrap {
    position: absolute;
    top: 50%;
    z-index: 120;
    left: 50%;
    transform: translate(-50%,-50%);
}

#winpanel-wrap h2 {
    margin-top: 0;
}

.btn-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btn-flex > button {
    min-width: fit-content;
    min-width: -moz-fit-content;
    width: 20%;
}

.notice {
    position: fixed;
    top: -5px;
    left: -5px;
    width: calc(100vw + 10px);
    height: fit-content;
    height: -moz-fit-content;
    padding: 10px 45px 10px 30px;
    padding-bottom: 5px;
    background-color: #31b0d5;
    border: 1px solid #269abc;
    color: #fff;
    z-index: 110;
}

.note-close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(calc(-50% + 2px));
}

footer {
    width: 100vw;
    position: fixed;
    top: 100%;
    transform: translateY(-25px);
    margin: 0!important;
    z-index: 60;
    transition-property: transform;
    transition-delay: 75ms;
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

footer:hover {
    transform: translateY(-100%);
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 0;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 4.3px;
    transition-property: padding;
    transition-delay: 75ms;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

footer:hover > pre {
    padding-top: 9.5px;
}

.footer-glyph {
    position: absolute;
    line-height: 28px;
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    top: 0;
    transform: rotateZ(90deg);
    transition-property: transform, line-height;
    transition-delay: 75ms;
    transition-duration: 450ms;
    transition-timing-function: ease-in-out;
}

.left-glyph {
    left: 0;
    width: 30px;
}

.right-glyph {
    right: 0;
    width: 20px;
}

footer:hover .footer-glyph {
    transform: rotateZ(90deg) rotateY(180deg);
    line-height: 40px;
}

@media only screen and (min-width: 768px) {

    .navbar-nav {
        float: right;
    }

    #game-wrap {
        width: fit-content;
        width: -moz-fit-content;
    }

    .sl-btn {
        margin: 5px 0;
    }

    .cell-tl {
        border-radius: 5px 0 0 0;
    }
    
    .cell-tr {
        border-radius: 0 5px 0 0;
    }
    
    .cell-br {
        border-radius: 0 0 5px 0;
    }
    
    .cell-bl {
        border-radius: 0 0 0 5px;
    }
}